/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Шапка */
/* Стили для логотипа */
header .logo img {
    height: 50px; /* Высота логотипа */
    width: auto; /* Ширина автоматически подстраивается */
}

/* Выравнивание логотипа и навигации */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Баннер */
.banner {
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.banner-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff; /* Белый цвет текста */
}

.banner-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #fff; /* Белый цвет текста */
}

.btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    display: inline-block;
}

/* Особенности */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.feature {
    width: 30%;
}

.feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333; /* Темный цвет текста */
}

.feature p {
    font-size: 1em;
    color: #666; /* Серый цвет текста */
}

/* Подвал */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
